.btn-outline-primary {
    color: #000080;
    background-color: transparent;
    background-image: none;
    border-color: #000080;
}
.btn-primary {
    background-color:#000080;
    border-color: #000080;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
}

.btn-primary:hover {
    background-color:#000080;
    border-color: #000080;
    opacity:.8;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
}
.btn-circle {
    border-radius:90%;
  
}
.btn-circle:hover {
    opacity: .9;
}

#about {
     background-color: #000080;
     color:white;
     padding:1rem;
     font-size:20px;
     text-align: center;
}
label {
    margin-bottom:0;
    font-weight:bold;
}
.input-group {
    margin-bottom:1rem;
}
.carousel-control-next,
.carousel-control-prev, .carousel-indicators {
    filter: invert(100%);
}

.carousel-indicators {
    
    bottom:-50px;
}

.carousel-caption {
    /*background-color:rgba(0,0, 128, .75);*/
    position:unset;
    width:80%;
    margin:auto;
    color:#000;
}
.project-section {
    margin-bottom:2rem;

    
}

.project-section p {
   

}


.projectLink a {
    /*color:white;*/
    color: #000080;
    text-decoration:underline;
}
.projectLink a:hover{
    opacity:.9;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,28, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}