.btn-outline-primary {
    color: #000080;
    background-color: transparent;
    background-image: none;
    border-color: #000080;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #000080;
    border-color: #000080;
}
#about {
     background-color: #000080;
     color:white;
     padding:1rem;
     font-size:20px;
     text-align: center;
}